<mat-toolbar color="primary">
  <span class="fill-remaining-space">User Edit</span>
</mat-toolbar>

<div class="container" *ngIf="!post; else forminfo" novalidate> 
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field class="form-element">
      <input matInput type="string" placeholder="FirstName"  value="{{formGroup.value.firstName}}" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput type="string" placeholder="LastName" value="{{formGroup.value.lastName}}" formControlName="lastName">
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput type="string" placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput type="string" placeholder="MobileNumber" formControlName="mobileNumber">
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" (click)="onSubmit(formGroup.value)" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>
</div>